doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="index.css")
    script(src="index.js")
    title Chat App
  body
    .viewport
      .row1
        .container
          h1 Chat App
      .row2
        .container
          .form
            h3.head Create username to start chatting
            input(type="text", placeholder="Username")
            h3.info 
            button(disabled) Chat
      .row3
        .container
          h3 &copy; Obaro 2025