doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="chat.css")
    script(src="chat.js") 
    title Chat App
  body
    .viewport
      .row1
        .container
          h1 Chat App
      .row2
        .container
          .row1
            h3 No messages
            div
          .row2
            textarea(placeholder="Message")
            button(disabled) Send
      .row3
        .container
          h3 &copy; Obaro 2025